*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#nav a {
    color: white;
}
#nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px 5px 5px 5px;
}
#nav a:active{
    color: gray;
}
#nav a:focus {
    color: blue;
}
.navbar-nav li {
    padding-left: 50px;
    padding-right: 30px;
}
.navbar-brand {
    margin-left: 20px;
    margin-top: -8px;
}
@media screen and (max-width: 600px) {
    .navbar-nav a {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
}
.p2{
    height: 9vh;
    border-bottom: 0.8px solid black; 
    position: sticky;
    top: 0; 
    background-color: white;
    z-index: 9;
}
.s1{
    padding: 10px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    margin-left: 15% ;
    padding-top: 15px;
}
img{
    width: 100%;
}
.p3{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(242, 242, 242);
}
.c1{
    margin-left: auto;
    margin-right: auto;
}
.c2{
    font-family: 'Sen', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.c3{
    text-align: left;
    line-height: 23px ;
    font-family: 'Sen', sans-serif;
}
.button{
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(52, 58, 64);
    padding-left: 30px;
    padding-right: 30px;
}
.buttona {
    text-decoration: none;
    color: white;   
}
.button:hover {
    background-color: gray;
    transform: scale(1.01);
    box-shadow: 5px 5px 3px 1px #999;
}
.button a:hover{
    color: white;
}
footer {
    background-color: rgb(52, 58, 64);
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#link a {
    
    color: white;
}
#link li {
    list-style-type: none;
}
@media screen and (max-width: 600px) {
    .c3  {
      margin-right: auto;
      margin-left: auto;
      width: 80%;
      line-height: 2rem;
    }
   .divide {
       width: 90%;
       margin-left: auto;
       margin-right: auto;
   }
}