*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#nav a {
    color: white;
}
#nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px 5px 5px 5px;
}
#nav a:active{
    color: gray;
}
#nav a:focus {
    color: blue;
}
.navbar-nav li {
    padding-left: 50px;
    padding-right: 30px;
}
.navbar-brand {
    margin-left: 20px;
    margin-top: -8px;
}
@media screen and (max-width: 600px) {
    .navbar-nav a {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
}
.bgimg {
    background-image: linear-gradient(70deg, rgba(0,0,0,1), rgba(256,256,256,.3)), url("wall.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 600px;
    width: 100%;
    background-position: center;
}
.bgtxt {
    top: 30%;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}
.bgbutton {
    border-radius: 30px;
    background: black;
    width: 20rem;
    padding: 5px 20px 5px 20px;
    color: white;
    border:solid 2px white;
    font-size: 22px;
    letter-spacing: 5px;
}
.bgbutton:hover{
    letter-spacing: 10px;
    border: solid 3px black;
    color: black;
    background: white;
    transition: border linear .1s ;
}
.margin {
    margin-top: 45%;
}
@media screen and (max-width: 600px) {
    .margin {
        margin-top: 125%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .bgtxt {
        width: 90%;
    }
}

.p2 {
    text-align: center;
    line-height: 7vh;
    background-color: rgb(250, 250, 250);
    margin-top: 0%;
}
.s1 {
    opacity: 50%;
    font-size: 20px;
    margin-top: 15px;
}
section {
    font-size: 25px;
    font-family: 'Sen', sans-serif;
}
.s2{
    font-size: 20px;
}
.s3 a{
    text-decoration: none;
    font-size: 23px;
}
.s4{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.p3{
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    margin-top: 12px;
}
.p4{
    background-color: rgb(250, 250, 250);
    font-family: 'Sen', sans-serif;
  display: flex;
  width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding: 15px;
   flex-wrap: wrap; 
   justify-content: space-around;  
   line-height: 5px;
}
img{
    width: 100%;
}
.s5,.s6,.s7,.s8{
    text-align: center;
    font-size: 15px;
}
.s5{
    grid-area: b1;
}
.s6{
    grid-area: b2;
}
.s7{
    grid-area: b3;
}
.s8{
    grid-area: b4;
}
.s9{
 width: 20%;
 border: 1px solid gray;
 border-radius: 15px;
 background-color: gray;
 font-family: 'Sen', sans-serif;
 margin-top: 10px;
 padding-top: 13px;
 
}
.s9 a{
    color: white;
}
footer {
    background-color: rgb(52, 58, 64);
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#link a {
    
    color: white;
}
#link li {
    list-style-type: none;
}
@media screen and (max-width: 600px) {
    .p4 {
        width: 100%;
    }
}
#textd {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 15px;
    text-align: left;
}
video {
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(6, 6, 6);
    margin-bottom: -20px;
}
.video {
    width: 58%;
}
.txt {
    width: 35%;
    height: 440px;
}
@media screen and (max-width: 600px) {
   .video {
       width: 100%;
   }
   .txt {
       width: 90%;
   }
   .p3>h3 {
       width: 90%;
       margin-right: auto;
       margin-left: auto;
   }
   .txt {
       width: 100%;
       height: 100%;
   }
}
.back {
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text {
    color: white;
    text-align: center;
    width: 30%;
    margin-top: 15%;
    margin-left: 20%;
    
}
.phone {
    width: 40%;
}
@media screen and (max-width: 600px) {
    .text {
        width: 90%;
        margin-top: 0;
        margin-left: 0;
    }
    .phone {
        width: 100%;
    }

}
.back1 {
    background-color:black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text1 {
    color: white;
    text-align: center;
    width: 27%;
    margin-top: 15%;
    margin-left: 20%;
    
}
.phone1 {
    width: 53%;
}
@media screen and (max-width: 600px) {
    .text1 {
        width: 90%;
        margin-top: 0;
        margin-left: 0;
    }
    .phone1 {
        width: 100%;
    }

}
.s9:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 3px 1px #999;
}
