*
{
    padding: 0%;
    margin: 0%;
}
#nav a {
    color: white;
}
#nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px 5px 5px 5px;
}
#nav a:active{
    color: gray;
}
#nav a:focus {
    color: blue;
}
.navbar-nav li {
    padding-left: 50px;
    padding-right: 30px;
}
.navbar-brand {
    margin-left: 20px;
    margin-top: -8px;
}
@media screen and (max-width: 600px) {
    .navbar-nav a {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
}

.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px}
.nav a{
        margin: 15px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase
    
        };
.nav a:hover{
        color: #000;
    }
img
{
width: 100%;
}
.a
{
width: auto;
text-align: center;
}
.b
{
    width: auto;
    text-align: center;
    background-color: rgb(226, 226, 226);
}
.a h1,.b h1
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bold;
 font-size: 3.7rem;
 color: black;
}
.a h2, .b h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: silver;
}
.a h3
{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 2.7rem;
     color: rgb(54, 54, 54);;
}
.a p,.b p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
}

.c video
{
    width: 100%;
 padding-top: 3rem;

    
}
.c h2
{
 padding-top: 40px;
 font-size: 4rem;
color: rgb(54, 54, 54);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bold;
 text-align: center;
}
.c a
{
    text-decoration: none;
    font-size: 43px;
    color: black;
  
}
.top
{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(54, 54, 54);
    bottom: 50px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
footer {
    background-color: rgb(52, 58, 64);
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#link a {
    
    color: white;
}
#link li {
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}


