*
{
    padding: 0%;
    margin: 0%;

}
#nav a {
    color: white;
}
#nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px 5px 5px 5px;
}
#nav a:active{
    color: gray;
}
#nav a:focus {
    color: blue;
}
.navbar-nav li {
    padding-left: 50px;
    padding-right: 30px;
}
.navbar-brand {
    margin-left: 20px;
    margin-top: -8px;
}
@media screen and (max-width: 600px) {
    .navbar-nav a {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
}
img
{
width: 100%;
}
.abc
{
    width: auto;
    background-color: white;
}
.a
{
text-align: center;
width: auto;

}
.a h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: black;
}
.a h2
{
    color: rgb(52, 58, 64);
    font-size: 3rem;
    
}
.b
{
text-align: center;
font-weight: bold;
color: black;
}
.b h3
{
font-size: 3rem;
}
.s3
{
    text-align: center;
    line-height: 7vh;
    margin-top: 0%;
}
.s2
{
    text-align: center;
    margin: 0%;
}
.s2 a
{
    text-decoration: none;
    font-size: 23px;
}
.s3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s3 a{
    text-decoration: none;
    width: 30%;
}
.s4
{
    text-align: center;
    line-height: 12vh;
    border-radius: 10px;
    margin-top: 0%;   
    margin: auto;
    display: table;
    margin-left: 20px;
}
.s4 button
{
    font-size: 22px;
    width: 300px;
    float: left;
    color: white;
    border: 0;
}
.s4 a{
    text-decoration: none;
    font-size: 23px;
    color: white;
}
.c
{
width: auto;

background-color: whitesmoke;
display: flex;
margin-left: auto;
margin-right: auto;
padding: 10px;
flex-wrap: wrap; 
justify-content: space-around;  
}
.d,.e
{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 40px;
}
.e p
{
padding-left: 35px;
}
.f
{
padding-top: 20px;
}
.g 
{
  padding-top: 70px;
  text-align: center;
}
.g h3
{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: silver;
}
.g h1
{
    font-size: 3.7rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.h
{
    padding-top: 30px;
    background-color: white;
    text-align: center;
}
.h h1
{
    font-size: 3.7rem;
    color: black;
    font-weight: bold;
}
.h h3
{
    font-size: 3rem;
    color: rgb(52, 58, 64);

}
.h p
{
    color: silver;
    font-size: 2rem;
}
footer {
    background-color: rgb(52, 58, 64);
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#link a {
    
    color: white;
}
#link li {
    list-style-type: none;
}